// Place all the styles related to the flavors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row {
   margin: 40px auto;
}
.col-md-6 {
   margin-bottom: 40px;
   padding-right: 20px;
   padding-left: 20px;
}

.box {
   background-color: #ffffff;
   height: 100px;
}

.flavor {
   font-family: 'Avenir', 'Corbel', 'Yu Gothic', '游ゴシック', YuGothic, '遊ゴシック体', 'ヒラギノ角ゴ Pro W3', 'メイリオ', sans-serif;
   font-size: 25px;
   font-weight: bold;
   display: inline-block;
   line-height: 100px;
   margin-left: 50px;
   position: relative;
}
.StatusImage {
    display: inline-block;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 14px;
    right: 70px;
}

.StatusImage img {
    width: 70px;
    height: 70px;
}

#flavors-container {
    padding: 0 85px;
}