.big-wrapper {
    margin: 0 90px;
    margin-bottom: 100px;
}
h3 {
    font-weight: 900;
    color: #cc2931;
    margin-top: 50px;
}
.wrapper {
    background-color: #e4daab;
    padding: 100px;
    margin-top: 50px;
}
dt {
    width: 400px;
    padding: 10px 0;
    float: left;
    clear: both;
    color: #cc2931;
    font-weight: 900;
    font-size: 22px;
}
dd {
    padding: 10px 0;
}
#user_name {
    padding: 0;
    border: 0;
    height: 30px;
    border-radius: 5px;
}
#user_email {
    width: 320px;
    padding: 0;
    border: 0px;
    height: 30px;
    border-radius: 5px;
}
#user_password {
    width: 320px;
    padding: 0;
    border: 0px;
    height: 30px;
    border-radius: 5px;
}
#user_password_confirmation {
    width: 320px;
    padding: 0;
    border: 0px;
    height: 30px;
    border-radius: 5px;
}


.dot {
    margin: 40px 0;
}

.actions input {
    float: right;
    border-radius: 5px;
    background-color: #cc2931;
    width: 120px;
    height: 40px;
    color: #ffffff;
}