.big-wrapper {
    margin: 0 90px;
    margin-bottom: 100px;
}
h3 {
    font-weight: 900;
    color: #cc2931;
    margin-top: 50px;
}
.wrapper {
    background-color: #e4daab;
    padding: 100px;
    margin-top: 50px;
}
dt {
    width: 400px;
    padding: 10px 0;
    float: left;
    clear: both;
    color: #cc2931;
    font-weight: 900;
    font-size: 22px;
}
dd {
    padding: 10px 0;
}

#user_name {
    padding: 0;
    border: 0;
    height: 30px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px #9f9876;
}

dd.long input  {
    width: 320px;
    padding: 0;
    border: 0px;
    height: 30px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px #9f9876;
}


.dot {
    margin: 40px 0;
}
.actions {
    margin-top: 50px;
}

.actions input {
    float: right;
    border-radius: 5px;
    background-color: #cc2931;
    width: 120px;
    height: 40px;
    color: #ffffff;
    margin-bottom: 10px;
    box-shadow: 0px 2px 3px #9f9876;
}

#login-bottom {
    margin-top: 80px;
}
#login-bottom input {
    float: right;
    border-radius: 5px;
    background-color: #cc2931;
    width: 120px;
    height: 40px;
    color: #ffffff;
    margin-bottom: 10px;
    box-shadow: 0px 2px 3px #9f9876;
}